$media-large: 1900px;
$media-medium: 1000px;
$font-family: verdana, sans-serif;
$font-size: 14px;
$color-light: #fff;
$color-dark: #000;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border-spacing: 0;
}

html {
  color: $color-light;
  background: $color-dark;
  font-family: $font-family;
  font-size: $font-size;
  @media (min-width: $media-medium) {
    font-size: $font-size + 2px;
  }
  @media (min-width: $media-large) {
    font-size: $font-size + 4px;
  }
}

.header {
  background-color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px 10px #111;
  margin-bottom: 50px;


  .logo {
    img {
      height: 40px;
    }
  }

  nav {
    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #ccc;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.product-list {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .product-inputs {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    gap: 10px;
    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid lightgray;
      border-radius: 5px;
      text-align: center;
      &::placeholder {
        color: #666;
      }
      &:focus::placeholder {
        visibility: hidden;
      }     
      &[type='number'] {
        padding-left: 25px;
      }
      &[type='text'] {
        @media (min-width: 1200px) {
          text-align: left;
          padding-left: 20px;
        }
      }
    }
    .buttons {
      display: flex;
      gap: 10px;
    }

    button {
      flex-grow: 1;
      text-align: center;
      padding: 10px 20px;
      border: 1px solid lightgray;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      &:first-child:hover {
        color: blue;
      }
      &:hover {
        color: red;
      }
    }
  }
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
  padding: 10 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;

  &-name {
    font-size: 16px;
  }
  &-price {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  &-buttons {
    display: flex;
    width: 100%;
    justify-content: right;

    button {
      margin-left: 20px;
      background-color: transparent;
      border: none;
      font-size: 16px;
      cursor: pointer;
      &:first-child:hover {
        color: blue;
      }
      &:hover {
        color: red;
      }
    }
  }
}

.total {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  & span {
    margin: 0 10px;
    font-weight: bold;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 400px;
  
    p {
      margin-bottom: 40px;
      color: #000;
    }
  
    button {
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      border: 1px solid lightgray;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}